@mixin setHeight($scale) {
	.DailyActivityBarChart {
		padding-bottom: calc(290px / $scale);
	}

	.AverageScoreRadialBarChart,
	.DurationSessionsLineChart,
	.ActivityTypeRadarChart {
		padding-bottom: calc(263px / $scale);
	}

	.KeyInfoCard {
		height: calc(124px / $scale);
	}
}
