.ProfilePage {
	margin: 64px auto;
	padding: 0 88px;
	min-width: 1126px;

	&__header {
		margin-bottom: 72px;

		&__title {
			margin: 0;
			margin-bottom: 36px;

			span {
				color: $primary-color;
			}
		}
	}
}
