.ProfilePage {
	margin-top: 64px;
	margin-bottom: 32px;
	max-width: calc(1126px + 32px);
	width: 100%;
	padding: 0 32px;

	&__header {
		margin-bottom: 72px;

		&__title {
			margin: 0;
			margin-bottom: 36px;

			span {
				color: $primary-color;
			}
		}
	}

	&__container {
		display: flex;
		gap: 30px;

		&__charts {
			flex: 1;

			display: flex;
			gap: 30px;
			flex-direction: column;

			&__stats {
				display: flex;
				gap: 30px;
			}
		}

		&__info-cards {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
}
