.KeyInfoCard {
	max-width: 300px;
	max-height: 124px;

	padding: 30px;
	padding-right: 50px;
	background-color: #fbfbfb;
	border-radius: 8px;

	display: flex;
	align-items: center;

	&__icon {
		margin-right: 24px;
	}

	&__info {
		line-height: 24px;

		& > :first-child {
			color: --secondary-color;
			font-size: 20px;
			font-weight: 700;
		}

		& > :last-child {
			color: #74798c;
			font-size: 14px;
			font-weight: 500;
		}
	}
}
